$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#branding {
  color: #04aafa;
  font-family: 'Passion One', cursive;
  text-align: center;
  display: block;
  margin: auto;
  clear: both;
}

.btn-primary {
  background-color: #090909;
  color: #00aafa;
  font-weight: bold;
}

.btn-secondary {
  background-color: #666666;
  color: #cccccc;
}

.carousel-indicators {
  align-content: center;
}

#content {
  color: #cccccc;
  overflow: auto;
}

.close {
  color: #666666;
}

#directory {
  padding: 3em;
  display: block;
  width: 100%;
  clear: both;
  margin: auto;
  background-color: rgb(19,47,58);
}


.ajax-actions, .ajax-forms {
  color: #a7e2ff;
  float: left;
  border: none;
  background: #13313d;
  clear: right;
  font-weight: bold;
  overflow: auto;
  margin: .3%;
}

.images {
  margin: auto;
  clear: both;
}

.item {
  margin: auto;
  align-self: center;
}

ul {
  width: 70%;
  margin: auto;
  padding-right: 2.5%;
}

li {
  list-style-type: none;
}

.modal-body {
  background-color: #151515;
}

.modal-header {
  background-color: #121212;
}

.modal-title {
  color: rgb(0, 170, 250);
  font-family: 'Passion One', cursive;
  font-size: 180%;
}

.nav-actions {
  color: #7cc0e2;
  background-color: rgba(0, 171, 250, 0.452);
  font-weight: bold;
  border-radius: 4px;
  border:rgba(0, 171, 250, 0.452);
  margin: .3%;
  display: block;
  float: right;
  overflow: auto;
}

#search-by-name {
  display: block;
  float: left;
}

#spirit-binder {
  background-color: #000000;
  background-size: cover;
}

.text-input, .text-input-create, .text-input-update {
  background-color: #010101;
  color: #7a7a7a;
}

.whiskey-name {
  font-weight: bold;
  font-size: 150%;
  color: #a7e2ff;
}

#whiskeyCarousel {
  margin: 8%;
  align-self: auto;
}